GOOGLE_DRIVE_SERVER_PORT=8787
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=C:\Users\Administrador\Documents\orbidi-ee72b6d47a0b (1).json
GOOGLE_STRATEGY_TEMPLATE_ID=1_W-faJYlpvsdJLHnqJfMk9yuduY3ypQnmBIQIsLNNK0
GOOGLE_STRATEGY_NO_WEBSITE_TEMPLATE_ID=1__jgfwa9uZbD-7BxKwfIWr-wcN-OmEOKM_9hY47ws3Y
GOOGLE_STRATEGY_OUTPUT_FOLDER_ID=
GOOGLE_STRATEGY_LOCAL_OUTPUT_DIR=C:\Users\Administrador\Downloads
